# Numerical
numpy

# AI/ML Libraries
langchain==0.3.27
langchain-community==0.3.27
langchain-text-splitters==0.3.11
langchain-ollama==0.3.10
langchain-chroma==0.2.6

# Ollama client (optional runtime for Ollama server)
ollama==0.6.1

# PDF Processing
pypdf==6.6.2

# Vector Store
chromadb==1.4.1
gensim==4.4.0

# server
uvicorn
fastapi
python-multipart
celery
kombu-sqlalchemy
SQLAlchemy
aiosqlite==0.22.1

# Web scraping
beautifulsoup4==4.12.3
requests==2.31.0

# Testing
pytest
